@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}

.header {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
}
.header .nav {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav__options {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header .nav .nav__options .options__item .item__link {
  color: #464646;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.8rem;
}
.header .nav .nav__options .options__item .item__link:hover {
  transition: all 0.2s;
  border-bottom: 2px solid #c86f33;
  padding-bottom: 5px;
  color: #c86f33;
}
.header .nav .nav__icons .nav__icon {
  cursor: pointer;
}
.header .nav .nav__icons .nav__icon:nth-child(1) {
  margin-right: 15px;
}
.header .nav .nav__icons .nav__icon:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.header .hero {
  width: 100%;
  max-height: 580px;
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 30px;
  background: url("../img/espiga.png") no-repeat right top;
  background-size: 500px;
}
.header .hero__title {
  grid-column: 1/1;
  grid-row: 1/span 3;
  transform: rotate(270deg);
  font-size: 12rem;
  width: 400px;
  height: 160px;
  justify-self: center;
  align-self: center;
  color: #464646;
}
.header .hero__icon {
  grid-column: 1/1;
  grid-row: 4;
  justify-self: center;
}
.header .hero__illustration {
  grid-column: 2/span 2;
  grid-row: 2/span 2;
  place-self: center;
}
.header .hero .cta {
  grid-column: 2/span 2;
  grid-row: 4;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: #c86f33;
  cursor: pointer;
  gap: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #F4F6F7;
  letter-spacing: 2px;
  justify-self: center;
  align-self: end;
}
.header .hero .cta:hover {
  background-color: #4a433d;
}
.header .hero__info {
  width: 430px;
  grid-column: 3/span 2;
  grid-row: 3;
  justify-self: end;
  align-self: end;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #828282;
}

.content {
  width: 100%;
  max-width: 1400px;
  height: auto;
  margin: 100px auto;
  background-color: cornsilk;
  background: url("../img/about-bg.png") no-repeat top left;
}
.content .about {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  align-items: center;
}
.content .about__title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #945e3a;
}
.content .about__info {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #828282;
}
.content .about .cta {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: #c86f33;
  cursor: pointer;
  gap: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #F4F6F7;
  letter-spacing: 2px;
}
.content .about .cta:hover {
  background-color: #4a433d;
}
.content .about .cta-black {
  background-color: #4a433d;
}
.content .about .cta-black:hover {
  background-color: #c86f33;
}
.content .props {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, max-content);
  background: url("../img/bg-ingredient.png") no-repeat bottom right;
}
.content .props__product {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.content .props__info {
  padding: 2rem;
}
.content .props__info .props__title {
  font-size: 3rem;
  color: #464646;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.content .props__info .props__description {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #828282;
}
.content .props .tasty {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
}
.content .props__tasty {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
  border-radius: 50%;
  background: url("../img/prop3.png") no-repeat center;
  background-size: 300px;
  justify-self: center;
}
.content .props .fresh {
  grid-column: 4;
  grid-row: 1;
  align-self: center;
}
.content .props__fresh {
  grid-column: 1/span 2;
  grid-row: 3/span 2;
  border-radius: 50%;
  background: url("../img/prop2.png") no-repeat center;
  background-size: 300px;
  justify-self: center;
}
.content .props .natural {
  width: 400px;
  grid-column: 2/span 2;
  grid-row: 5;
  justify-self: center;
}
.content .props__natural {
  grid-column: 3/span 2;
  grid-row: 3/span 2;
  border-radius: 50%;
  background: url("../img/prop1.png") no-repeat center;
  background-size: 300px;
  justify-self: center;
}
.content .made {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.content .made__info {
  width: 40%;
  padding: 30px;
  background: url("../img/cake.png") no-repeat 300px bottom;
}
.content .made__info .info__how {
  font-size: 4.6rem;
  margin-bottom: 20px;
  color: #464646;
}
.content .made__info .info__description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #828282;
}
.content .made__info .cta {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: #c86f33;
  cursor: pointer;
  gap: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #F4F6F7;
  letter-spacing: 2px;
}
.content .made__info .cta:hover {
  background-color: #4a433d;
}
.content .made__ingredient {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.content .made__ingredient .ingredient {
  width: 40%;
  text-align: center;
}
.content .made__ingredient .ingredient__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.content .made__ingredient .ingredient__title {
  font-size: 2rem;
  margin: 1rem 0;
  color: #464646;
}
.content .made__ingredient .ingredient__info {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #828282;
}
.content .chef {
  display: flex;
  padding: 10px;
  margin: 100px 0;
  height: 600px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.content .chef__photo {
  border-radius: 50%;
  display: flex;
  width: 500px;
}
.content .chef__photo #chef {
  position: absolute;
}
.content .chef__photo .chef__avatar {
  position: relative;
  bottom: 30px;
  left: 80px;
  width: 70%;
  z-index: -1;
}
.content .chef__photo .chef__testel {
  position: relative;
  bottom: -150px;
  left: 30px;
  width: 140px;
  height: 110px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px #dedddd;
  cursor: pointer;
}
.content .chef__photo .chef__testel .star {
  background-color: #fbc84b;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.content .chef__photo .chef__testel .testel__point {
  color: #c86f33;
  font-weight: 700;
}
.content .chef__photo .chef__testel .testel__point .point {
  color: #464646;
  font-weight: 700;
}
.content .chef__photo .chef__testel .testel__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #464646;
}
.content .chef__info {
  width: 500px;
  padding: 20px;
}
.content .chef__info .chef__best {
  font-size: 3.2rem;
  margin-bottom: 20px;
  color: #464646;
}
.content .chef__info .chef__description {
  line-height: 1.5;
  color: #828282;
  margin-bottom: 30px;
}
.content .chef__info .cta {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: #c86f33;
  cursor: pointer;
  gap: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #F4F6F7;
  letter-spacing: 2px;
}
.content .chef__info .cta:hover {
  background-color: #4a433d;
}
.content .chef__info .cta-black {
  background-color: #4a433d;
}
.content .chef__info .cta-black:hover {
  background-color: #c86f33;
}
.content .discover {
  display: flex;
  padding: 10px;
  margin: 100px 0;
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 50px;
}
.content .discover__photo {
  border-radius: 50%;
  display: flex;
  width: 500px;
}
.content .discover__photo #discover {
  position: absolute;
}
.content .discover__photo .discover__avatar {
  position: relative;
  bottom: 30px;
  left: -30px;
  width: 70%;
  z-index: -1;
}
.content .discover__photo .discover__testel {
  min-width: 250px;
  height: 100px;
  position: relative;
  bottom: -100px;
  right: 580px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px #dedddd;
  cursor: pointer;
}
.content .discover__photo .discover__testel .testel__point {
  color: #c86f33;
  font-weight: 700;
  font-size: 1.4rem;
}
.content .discover__photo .discover__testel .testel__point .point {
  color: #464646;
  font-weight: 700;
}
.content .discover__photo .discover__testel .testel__cta {
  background-color: #fbc84b;
  border: none;
  padding: 6px 12px;
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.content .discover__photo .discover__testel .testel__title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #464646;
  margin-bottom: 5px;
}
.content .discover__info {
  width: 500px;
  padding: 20px;
}
.content .discover__info .discover__best {
  font-size: 3.2rem;
  margin-bottom: 20px;
  color: #464646;
}
.content .discover__info .discover__description {
  line-height: 1.5;
  color: #828282;
  margin-bottom: 30px;
}
.content .discover__info .cta {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: #c86f33;
  cursor: pointer;
  gap: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #F4F6F7;
  letter-spacing: 2px;
}
.content .discover__info .cta:hover {
  background-color: #4a433d;
}
.content .discover__info .cta-black {
  background-color: #4a433d;
}
.content .discover__info .cta-black:hover {
  background-color: #c86f33;
}

/*# sourceMappingURL=style.css.map */
