@use './variables' as v;
@mixin order-now{
  width: 200px;
  height: 45px;
  border-radius: 10px;
  background-color: v.$bg-cta;
  cursor: pointer;
  gap: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: v.$text-cta;
  letter-spacing: 2px;
  &:hover{
    background-color: v.$bg-cta-black;
  }
}